body {
    font-family: Arial, Verdana,  sans-serif;
    font-size: 11pt;
    background-color: #f0f0f0;
    color: #333;
}
h1 {
    color: #a52a2a;
    font-size: 24pt;
    font-family: Georgia, Times, serif;
    font-weight: normal;
}
p {
    width: 400px;
    text-align: justify;
    margin-left: 60px;
    margin-right: 10px;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
    padding-left: 10px;
    padding-bottom: 10px;
}
td { background: olive; }
td { color: white; }
td { border: 1px solid black; }
td {
    background: olive;
    color: white;
    border: 1px solid black;
}
p { color: green; }
p { color: red; }
div {
    width: 200px; /* Ширина блока */
    margin: 10px; /* Поля  вокруг элемента */
    float: left; /* Обтекание по правому краю */
}